.playerSection {
    border: "1px solid #ccc";
    border-radius: 15px;
    padding: "1rem";
    display: "flex";
    flex-direction: "column";
    gap: ".5rem";
    width: 50%;
    margin: 10px auto;
}
.btn {
    padding: 5px 15px;
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
}
