.App {
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url(./pictures/FifaPic.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    backdrop-filter: blur(35px);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}
